<%- include('../partials/head.ejs', {cssSheet: "styles-productDetail"}) %>

<body class="body-productDetail">
    <%- include('../partials/header.ejs') %>
    <main class="mainProduct">  
        <div class="card">
            <section class="card_first-section">
                <img src="/img/panBaguete.jfif" alt="foto">
            </section>
            <section class="card_second-section">
                <p class="productType">Pan</p>
                <h2 class="titulo">BAGUETTE</h2>
                <P class="description">se afirma que la baguette o el pan francés fue elaborado por primera vez en Viena, Austria, a
                    mediados del siglo XIX. Y se realizaban en los primeros hornos a vapor. Los mismos posibilitaron
                    entonces esa corteza crujiente y la miga blanca aireada y esponjosa con la que la conocemos
                    actualmente.</P>
                <div class="precio">
                    <p>150.00$</p>
                </div>
                <button class="card_button">Add to card</button>
            </section>
        </div>

    </main>

    <!--  <footer>
        <section class="footer-logo">
            <img src="/img/Logo.png" alt="HELLO!">
            <h1>HELLO!</h1>
        </section>
        <section class="footer-navbar">
            <div class="footer-secciones">
                <ul type="none">
                    <h2>SECCIONES</h2>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">PRODUCTOS</a></li>
                    <li><a href="#">ABOUT-US</a></li>
                    <li><a href="#">CONTACTO</a></li>
                </ul>
            </div>
            <div class="footer-socialmedia">
                <h2>SEGUINOS EN</h2>
                <ul type="none">
                    <li><a href="#"><i class="fa-brands fa-instagram"></i><p>Usuario IG</p></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i><p>Usuario fb</p></a></li>
                    <li><a href="#"><i class="fa-brands fa-tiktok"></i><p>Usuario tiktok</p></a></li>
                </ul>
            </div>
            <div class="footer-contacto">
                <h2>CONTACTO</h2>
                <ul type="none">
                    <li><a href="#"><i class="fa-brands fa-whatsapp"></i><p>+54 11 5555 4444</p></a></li>
                    <li><a href="#"><i class="fa-regular fa-envelope"></i><p>contacto_hello@gmail.com</p></a></li>
                    <li><a href="#"><i class="fa-solid fa-location-dot"></i><p>Calle False 123</p><br><p>1400 CABA</p></a></li>
                </ul>
            </div>
        </section>
        <section class="copyright">
            <p>Todos los derechos reservados</p>
        </section>
    </footer> -->


</body>

</html>