<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles-product.css">
    <title>Hello! Cakes & Bakery</title>
</head>


<body>
    <header>
        <div class="bottom-header-bar">
            <div class="icon-bars">
                <i class="fa-solid fa-bars"></i>
            </div>
            <nav class="main-bar">
                <ul type="none">
                    <li><a href="/"><i class="fa-solid fa-house-chimney"></i>
                            <p>HOME</p>
                        </a></li>
                    <li><a href="/productDetail">
                            <p>PRODUCTOS</p>
                        </a></li>
                    <li><a href="#">
                            <p>ABOUT-US</p>
                        </a></li>
                    <li><a href="/contact">
                            <p>CONTACTO</p>
                        </a></li>
                </ul>
            </nav>
            <h1>HELLO!</h1>
            <nav class="login-bar">
                <ul type="none">
                    <li><a href="/login">
                            <div class="icon"><i class="fa-solid fa-right-to-bracket"></i></div>
                            <p>Login</p>
                        </a></li>
                    <li><a href="/productCart">
                            <div class="icon"><i class="fa-solid fa-cart-shopping"></i></div>
                            <p>Carrito</p>
                        </a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-product">

        <div class="header-main">
            <p class="father-buscador"><input type="text" class="bottom-header-main buscador" placeholder="Buscar"></p>
            <h4 class="top-header-main">Lista de productos</h4>
            <p class="top-header-main filtro">Filtros</p>
           
        </div>
       
    </main>



    
</body>
</html>