/*INICIO MAIN*/
.img-fondo{
    display: none;
}
.title-cart{
    text-align: center; 
    font-family: 'Mynerve';
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: wheat; 
    padding: 5vw;  
}
.cuadro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 20px auto;
    padding: 30px;
    border: 3px solid #68ABB4;
    border-radius: 10px;
    width: 90%;
}
.main-cart{
    background-color: wheat;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 15px auto;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
}
.main-product1 {  
    background-color: whitesmoke;
    color: black;
    display: flex;   
}
.main-product2 {
    background-color: whitesmoke;
    color: black;
    display: flex;
}
.main-product3 {
    background-color: whitesmoke;
    color: black;
    display: flex;
    height: 15vw;
    flex-direction: column;
    align-items: center;
}
.contenedor-product{   
    width: 35vw;
    height: 15vw;
    display: flex;
    align-items: center;
}
.img-product{
    width: 12vw;
    height: auto;
    display: flex;
    padding: 1vw;
    border-radius: 15%;
}
.sub-main-productCart{
   padding-left: 10px;
}
.name-product{
    font-family: 'Mynerve';
    font-size: 1.7vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: bold;
}
.descr-product{
    font-family: 'Mynerve';
    display: flex;
    font-size: 1.5vw;
    padding-top: 1vw;  
}
.contenedor-carrito{
    width: 35vw;
    height: auto;
    display: flex;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}
.fa-trash-can {
    font-size: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.precio{
    font-size: 14px;
    justify-content: center;
    align-items: center;
}
#myform {
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
}
.qty {
    width: 15px;
    height: 20px;
    text-align: center;
}
input.qtyplus { width:15px; height:20px;}
input.qtyminus { width:15px; height:20px;}
.img-logo2{
    width: 18vw;
    height: auto;
    transition: all 1000ms;
    display: flex;
    position: absolute;
    margin-right: 40vw;
}
.img-logo2:hover{
    transform: rotate(90deg);
}
.main-botones{
    display: flex;
    justify-content: space-around;
    margin-left: 36vw;
    width: 30vw;
    margin-top: 5vw;
}
.main-precio{
    display: flex;
    justify-content: space-around;
    margin-left: 40vw;
    width: 30vw;
}
.button{
    background-color: #F1C732;
    border: none;
    font-weight: bold;
    font-size: 10px;
    font-family: 'Mynerve';
}
.button-cart1{
    background-color: #F1C732;
    color: black;
    font-family: 'Mynerve';
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    border-radius: 10px;
    border: 2px solid #68ABB4; 
}
.button-cart2{
    background-color: #F1C732;
    color: black;
    font-family: 'Mynerve';
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    border-radius: 10px;
    border: 2px solid #68ABB4;
}
.total{
    background-color:wheat;
    color: black;
    font-family: 'Mynerve';
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
    border-radius: 10px;
    border: 2px solid #68ABB4;
}
.precio-total{
    background-color: wheat;
    color: black;
    font-family: 'Mynerve';
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
    border-radius: 10px;
    border: 2px solid #68ABB4;
}
/*FIN MAIN*/

@media (min-width: 899px) {
    /* MAIN */
    .img-fondo{
        display: block;
        width: 100%;
        padding: 0px; 
        opacity: 0.7;
        margin: 0;
    }
    .cuadro{
    position: absolute;
    margin-top: 13vw;
    margin-left: 3vw;
    }
    .title-cart{
        padding: 2vw;
        font-size: 24px;
    }
    .main-cart{
        margin: 0;
        padding: 0;
    }
    #myform {
        text-align: center;
        padding: 5px;
        border: 1px dotted #ccc;
        margin: 2%;
    }
    .qty {
        width: 40px;
        height: 25px;
        text-align: center;
    }
    input.qtyplus { width:25px; height:25px;}
    input.qtyminus { width:25px; height:25px;}
    .fa-trash-can {
        font-size: 20px;
    }
    .precio {
        font-size: 18px;
    }
    .total{
        display: flex;
        background-color: wheat;
        color: black;
        font-family: 'Mynerve';
        font-size: 2vw;
        font-weight: bold;
        padding: 2px;
        border-radius: 10px;
        border: 2px solid #68ABB4;
        align-items: center;
    }
    .precio-total{
        display: flex;
        background-color: wheat;
        color: black;
        font-family: 'Mynerve';
        font-size: 2vw;
        font-weight: bold;
        padding: 2px;
        border-radius: 10px;
        border: 2px solid #68ABB4;
        align-items: center;
    }
    .button{
        background-color:#F1C732;
        color: black;
        font-family: 'Mynerve';
        font-size: 2vw;
        font-weight: bold;
        padding: 2px;
        border-radius: 10px;
        border: 2px solid #68ABB4;
        align-items: center;
    }
}