/* MAIN */

.formulario{
    text-align: center;
    background-color: white;
    margin: 15px auto;
    padding: 30px;
    border: 3px solid #68ABB4;
    border-radius: 10px;
    max-width: 400px;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.body-contact {
    background-color: rgb(237, 238, 242);
}
.login-input label{
    font-size: 16px;
    display: flex;
    line-height: 1vw;
}
.login-logo img{
    width: 100%;
    margin: -10px 0;
    cursor: pointer;
}
.login-input input {
    width: 100%;
    border: 3px solid #68ABB4;
    border-radius: 5px;
    background-color: #68abb418;
    padding: 2px;
    line-height: 20px;
    margin-bottom: 15px;
}
.login-input textarea {
    width: 100%;
    border: 3px solid #68ABB4;
    border-radius: 5px;
    background-color: #68abb418;
    padding: 2px;
    line-height: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.formLoginButton {
    background-color: #F1C732;
    margin: 20px auto;
    text-align: center;
    display: block;
    font-size: 16px;
    padding: 5px;
    border-radius: 15px;
    border: 3px solid #68ABB4;
}
