/* Colores
#010101
#F1C732
#68ABB4
wheat

Tipografías:
Meatloaf
AngryBirds
Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    color: inherit;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100vw;
}
/* HEADER */
.logo {
    display: none;
}
div.bottom-header-bar {
    background-color: #010101;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-header-bar i {
    color: white;
    font-size: 14px;
    display: inline;
}
.icon,
.icon-bars {
    padding: 3px;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 5px;
}
.main-bar {
    display: none;
}
h1 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: Meatloaf;
    display: inline;
}
nav.login-bar ul{
    display: flex;
    direction: row;
    flex-wrap: nowrap;
    margin-top: 3px;
    margin-right: 5px;
}
.login-bar ul li p {
    display: none;
}
/* FIN HEADER */
/* MAIN */
.img-logo-shop{
    position: relative;
}
.main-img {
    width: 100%;
}
.main-logo {
    width: 30%;
    position: absolute;
    top: 5%;
    left: 35%;
}
.main-logo:hover {
    animation: greeting 0.5s 1;
}
@keyframes greeting {
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
div a.link-shop {
    width: 20%;
    position: absolute;
    left: 40%;
    bottom: 30%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: #68ABB4;
    color: white;
    padding: 3px;
    border-radius: 2px;
    border: 3px solid #F1C732;
}
a {
    text-decoration: none;
}
.star-products {
    width: 95%;
    margin: auto;
    padding: 5px;
}
.star-products h2 {
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
    color: #d27518;
    font-weight: 500;
}
.star-products p {
    text-align: center;
    font-style: italic;
    font-size: 10px;
}
.all-star-products {
    width: 100%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 5px;
}
.product-main {
    width: 30%;
    padding: 5px;
    background-color: #010101;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-main img {
    width: 95%;
}
.product-name {
    font-size: 10px;
    font-weight: 500;
    color: #d27518;
}
.go-to-buy {
    bottom: 0px;
    background-color: #F1C732;
    border: 3px solid #68ABB4;
    color: #010101;
    border-radius: 12px;
    padding: 3px;
    font-weight: 300;
    text-align: center;
    width: 65px;
    margin: auto;
}
.product-bottom-box {
    position: relative;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 10px;
}
.product-bottom-box p {
    text-align: right;
    margin-bottom: 10px;
    color: white;
    font-style: normal;
}
.main-video {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    background-color: white;
}
.video {
    width: 60%;
    display: inline;
    margin-left: 5%;
}
.video img {
    width: 100%;
    padding: 5px;
}
.video-side-text {
    width: 40%;
    display: inline;
    padding: 5px;
    margin-right: 5%;
}
.main-img-bar {
    padding: 30px 0px;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
}
.img-ig-container {
    position: relative;
}
.main-img-bar img {
    width: 100%;
    height: 100%;
    display: inline;
}
.main-img-bar i {
    font-size: 25px;
    position: absolute;
    right: 0px;
    color: rgba(255, 255, 255, 0.3);
    background-color: #01010183;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 15px;
    transition: all 0.3s;
}
.main-img-bar i:hover {
    background-color: #01010100;
    color: #010101;
    text-shadow: 1px 1px #F1C732;
}
/* FIN MAIN */
/* FOOTER */
footer {
    background-color: #010101;
    color: white;
}
.footer-logo img{
    display: none;
}
.footer-logo h1 {
    margin: 5px 10px;
    font-size: 24px;
}
.footer-navbar {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
}
footer li i,
footer li a,
footer li a p,
footer h2,
.copyright p {
    color: white;
    font-size: 10px;
}
footer li i{
    font-size: 14px;
}
.footer ul {
    mask-type: none;
}
.footer-socialmedia ul li a p,
.footer-contacto ul li a p {
    display: inline;
    margin: 0px 3px;
}
.copyright {
    width: 100%;
    padding-bottom: 5px;
}
.copyright p {
    text-align: center;
}
.footer-secciones li,
.footer-socialmedia li,
.footer-contacto li {
    text-indent: 5px;
}

@media (min-width: 899px) {
    /* HEADER */
    .logo {
        display: block;
        background-color: #010101;
        margin-top: -20px;
        margin-bottom: -30px;
    }
    .logo img {
        width: 100px;
        padding-left: 5px;
    }
    .bottom-header-bar div.icon-bars,
    .fa-bars {
        display: none;
    }
    .main-bar {
        color: white;
        display: inline;
    }
    .main-bar ul {
        display: flex;
        margin: 0px 10px;
    }
    .main-bar ul li,
    .login-bar ul li {
        padding: 5px 10px;
    }
    .main-bar ul li p,
    .main-bar ul li i {
        font-size: 16px;
        display: inline;
    }
    .main-bar ul li i {
        padding: 0px 3px;
    }
    header h1 {
        display: none;
    }
    .login-bar {
        padding-right: 10px;
    }
    .login-bar ul li p {
        display: inline;
    }
    .login-bar ul li a div {
        display: inline;
    }
    .login-bar p {
        font-size: 16px;
        padding-right: 5px;
    }
    .login-bar i {
        font-size: 16px
    }
    .bottom-header-bar {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 5px;
    }
    .main-bar {
        text-align: left;
    }
    .main-bar li:hover,
    .login-bar li:hover {
        background-color: white;
        color: #010101;
        border-radius: 2px;
    }
    .main-bar li:hover i,
    .login-bar li:hover i{
        background-color: white;
        color: #010101;
    }
    /* MAIN */
    div a.link-shop {
        width: 16%;
        left: 42%;
        bottom: 30%;
        padding: 5px;
        border-radius: 5px;
        border: 3px solid #F1C732;
        font-size: 18px;
        transition: all 0.2s;
    }
    div a.link-shop:hover {
        box-shadow: 0 0 20px #010101;
    }
    .star-products h2{
        font-size: 24px;
        margin-top: 30px;
    }
    .star-products p {
        font-size: 18px;
    }
    .all-star-products {
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 15px;
    }
    .product-main {
        width: 28%;
        padding: 15px;
        background-color: #010101;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-main img {
        width: 95%;
        padding-top: 5px;
    }
    .product-name {
        font-size: 16px;
    }
    .go-to-buy {
        font-size: 14px;
        border-radius: 14px;
        padding: 5px;
        font-weight: 300;
        text-align: center;
        width: 80px;
        margin: 10px;
        transition: all 0.3s;
    }
    .go-to-buy:hover {
        box-shadow: 0 0 10px white;
    }
    .main-video {
        padding-top: 30px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
    }
    .video {
        width: 70%;
    }
    .video-side-text {
        width: 30%;
        padding: 5px 20px 5px;
    }
    .video-side-text h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .video-side-text p {
        font-size: 14px;
    }
    .main-img-bar {
        padding: 60px 0px;
    }
    .main-img-bar i {
        font-size: 40px;
        padding-top: 40px;
        transition: all 0.3s;
    }
    .main-img-bar i:hover {
        background-color: #01010100;
        color: #010101;
        text-shadow: 1px 1px #F1C732;
    }
    /* FOOTER */
    section.footer-logo {
        display: inline;
    }
    .footer-logo img{
        display: inline;
        width: 10%;
        margin: -20px 0;
    }
    .footer-logo h1 {
        display: none;
    }
    section.footer-navbar {
        display: inline-flex;
        justify-content: space-between;
        color: white;
        padding: 10px;
        width: 80%;
        position: relative;
        top: -30px;
        margin-bottom: -20px;
    }
    footer li i,
    footer li a,
    footer li a p,
    footer h2,
    .copyright p {
        color: white;
        font-size: 12px;
        line-height: 1.5em;
    }
    footer li i{
        font-size: 16px;
    }
    .copyright p {
        font-size: 10px;
    }
    .footer-secciones li,
    .footer-socialmedia li,
    .footer-contacto li {
        text-indent: 10px;
    }
}