/* Colores
#010101
#F1C732
#68ABB4
wheat

Tipografías:
Meatloaf
AngryBirds
Raleway */


*{box-sizing: border-box}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    color: inherit;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100vw;
}
/* HEADER */
.logo {
    display: none;
}
div.bottom-header-bar {
    background-color: #010101;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-header-bar i {
    color: white;
    font-size: 14px;
    display: inline;
}
.icon,
.icon-bars {
    padding: 3px;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 5px;
}
.main-bar {
    display: none;
}
h1 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: Meatloaf;
    display: inline;
}
nav.login-bar ul{
    display: flex;
    direction: row;
    flex-wrap: nowrap;
    margin-top: 3px;
    margin-right: 5px;
}
.login-bar ul li p {
    display: none;
}
/* FIN HEADER */


/*INICIO MAIN*/

.img-fondo{
    display: none;
}
.title-cart{
    text-align: center; 
    font-family: 'Mynerve';
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: wheat; 
    padding: 5vw;  
}
.cuadro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 20px auto;
    padding: 30px;
    border: 3px solid #68ABB4;
    border-radius: 10px;
    width: 90%;
}
.main-cart{
    background-color: wheat;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 15px auto;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
}

.main-product1 {  
    background-color: whitesmoke;
    color: black;
    display: flex;   
}
.main-product2 {
    background-color: whitesmoke;
    color: black;
    display: flex;
}
.main-product3 {
    background-color: whitesmoke;
    color: black;
    display: flex;
    height: 15vw;
    flex-direction: column;
    align-items: center;
}
.contenedor-product{   
    width: 35vw;
    height: 15vw;
    display: flex;
    align-items: center;
}
.img-product{
    width: 12vw;
    height: auto;
    display: flex;
    padding: 1vw;
    border-radius: 15%;
}
.sub-main-productCart{
   padding-left: 10px;
}
.name-product{
    font-family: 'Mynerve';
    font-size: 1.7vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: bold;
}
.descr-product{
    font-family: 'Mynerve';
    display: flex;
    font-size: 1.5vw;
    padding-top: 1vw;  
}
.contenedor-carrito{
    width: 35vw;
    height: auto;
    display: flex;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}
.fa-trash-can {
    font-size: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.precio{
    font-size: 14px;
    justify-content: center;
    align-items: center;
}
#myform {
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
}
.qty {
    width: 15px;
    height: 20px;
    text-align: center;
}
input.qtyplus { width:15px; height:20px;}
input.qtyminus { width:15px; height:20px;}

.img-logo2{
    width: 18vw;
    height: auto;
    transition: all 1000ms;
    display: flex;
    position: absolute;
    margin-right: 40vw;
}
.img-logo2:hover{
    transform: rotate(90deg);
}
.main-botones{
    display: flex;
    justify-content: space-around;
    margin-left: 36vw;
    width: 30vw;
    margin-top: 5vw;
}
.main-precio{
    display: flex;
    justify-content: space-around;
    margin-left: 40vw;
    width: 30vw;
}
.button{
    background-color: #F1C732;
    border: none;
    font-weight: bold;
    font-size: 10px;
    font-family: 'Mynerve';
}

.button-cart1{
    background-color: #F1C732;
    color: black;
    font-family: 'Mynerve';
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    border-radius: 10px;
    border: 2px solid #68ABB4;
  
}
.button-cart2{
    background-color: #F1C732;
    color: black;
    font-family: 'Mynerve';
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    border-radius: 10px;
    border: 2px solid #68ABB4;
}

.total{
    background-color:wheat;
    color: black;
    font-family: 'Mynerve';
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
    border-radius: 10px;
    border: 2px solid #68ABB4;
}
.precio-total{
    background-color: wheat;
    color: black;
    font-family: 'Mynerve';
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
    border-radius: 10px;
    border: 2px solid #68ABB4;
}
/*FIN MAIN*/

/* FOOTER */
footer {
    background-color: #010101;
    color: white;
}
.footer-logo img{
    display: none;
}
.footer-logo h1 {
    margin: 5px 10px;
    font-size: 24px;
}
.footer-navbar {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
}
footer li i,
footer li a,
footer li a p,
footer h2,
.copyright p {
    color: white;
    font-size: 10px;
}
footer li i{
    font-size: 14px;
}
.footer ul {
    mask-type: none;
}
.footer-socialmedia ul li a p,
.footer-contacto ul li a p {
    display: inline;
    margin: 0px 3px;
}
.copyright {
    width: 100%;
    padding-bottom: 5px;
}
.copyright p {
    text-align: center;
}
.footer-secciones li,
.footer-socialmedia li,
.footer-contacto li {
    text-indent: 5px;
}

@media (min-width: 899px) {
    /* HEADER */
    .logo {
        display: block;
        background-color: #010101;
        margin-top: -20px;
        margin-bottom: -30px;
    }
    .logo img {
        width: 100px;
        padding-left: 5px;
    }
    .bottom-header-bar div.icon-bars,
    .fa-bars {
        display: none;
    }
    .main-bar {
        color: white;
        display: inline;
    }
    .main-bar ul {
        display: flex;
        margin: 0px 10px;
    }
    .main-bar ul li,
    .login-bar ul li {
        padding: 5px 10px;
    }
    .main-bar ul li p,
    .main-bar ul li i {
        font-size: 16px;
        display: inline;
    }
    .main-bar ul li i {
        padding: 0px 3px;
    }
    header h1 {
        display: none;
    }
    .login-bar {
        padding-right: 10px;
    }
    .login-bar ul li p {
        display: inline;
    }
    .login-bar ul li a div {
        display: inline;
    }
    .login-bar p {
        font-size: 16px;
        padding-right: 5px;
    }
    .login-bar i {
        font-size: 16px
    }
    .bottom-header-bar {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 5px;
    }
    .main-bar {
        text-align: left;
    }
    .main-bar li:hover,
    .login-bar li:hover {
        background-color: white;
        color: #010101;
        border-radius: 2px;
    }
    .main-bar li:hover i,
    .login-bar li:hover i{
        background-color: white;
        color: #010101;
    }

    /* MAIN */
    
    .img-fondo{
        display: block;
        width: 100%;
        padding: 0px; 
        opacity: 0.7;
        margin: 0;
    }
    .cuadro{
    position: absolute;
    margin-top: 13vw;
    margin-left: 3vw;
    }
    .title-cart{
        padding: 2vw;
        font-size: 24px;
    }
    .main-cart{
        margin: 0;
        padding: 0;
    }
    #myform {
        text-align: center;
        padding: 5px;
        border: 1px dotted #ccc;
        margin: 2%;
    }
    .qty {
        width: 40px;
        height: 25px;
        text-align: center;
    }
    input.qtyplus { width:25px; height:25px;}
    input.qtyminus { width:25px; height:25px;}

    .fa-trash-can {
        font-size: 20px;
    
    }
    .precio {
        font-size: 18px;
    }
    .total{
        display: flex;
        background-color: wheat;
        color: black;
        font-family: 'Mynerve';
        font-size: 2vw;
        font-weight: bold;
        padding: 2px;
        border-radius: 10px;
        border: 2px solid #68ABB4;
        align-items: center;
    }
    .precio-total{
        display: flex;
        background-color: wheat;
        color: black;
        font-family: 'Mynerve';
        font-size: 2vw;
        font-weight: bold;
        padding: 2px;
        border-radius: 10px;
        border: 2px solid #68ABB4;
        align-items: center;
    }
    .button{
    
        background-color:#F1C732;
        color: black;
        font-family: 'Mynerve';
        font-size: 2vw;
        font-weight: bold;
        padding: 2px;
        border-radius: 10px;
        border: 2px solid #68ABB4;
        align-items: center;
    }

    /* FOOTER */
    section.footer-logo {
        display: inline;
    }
    .footer-logo img{
        display: inline;
        width: 10%;
        margin: -20px 0;
    }
    .footer-logo h1 {
        display: none;
    }
    section.footer-navbar {
        display: inline-flex;
        justify-content: space-between;
        color: white;
        padding: 10px;
        width: 80%;
        position: relative;
        top: -30px;
        margin-bottom: -20px;
    }
    footer li i,
    footer li a,
    footer li a p,
    footer h2,
    .copyright p {
        color: white;
        font-size: 12px;
        line-height: 1.5em;
    }
    footer li i{
        font-size: 16px;
    }
    .copyright p {
        font-size: 10px;
    }
    .footer-secciones li,
    .footer-socialmedia li,
    .footer-contacto li {
        text-indent: 10px;
    }
}