.header-main .top-header-main{
    width: 45vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    color: white;
    font-size: 1.5em;
}
.filtro{
    text-align: end;
}
.buscador{
    width: 95vw;
}
.main-product{
   /*  background-color: #fffdf8; */
    background-image: url(/img/fotoCarrito1.jpg);
}
.estanteDeProductos{
    background-color: white;
    border: 1px solid brown;
    border-radius: 2rem;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.cajaDeProducto{
    border: 3px solid #68ABB4;
    margin: 1rem;
    border-radius: 12px;
    overflow: hidden;
}
.cajaDeProductoInferior{
    padding-left: 1rem;
}
.cajaDeProductoInferior .tipo{
    margin: 8px 0px 8px 0px;
    color: grey;
}
.cajaDeProductoInferior .titulo{
    margin: 0px 0px 8px 0px;
    font-size: 1.5em;
}
.cajaDeProductoInferior .precio p{
    font-size: 2em;
    color: green;
    margin: 0 0px 8px 0px;
}
.cajaDeProductoInferior .boton {
    width: 20rem;
    height: 2.5rem;
    background-color: #F1C732;
    color: white;
    border-radius: 15px;
       border: 3px solid #68ABB4;
    font-size: 1.1em;
    font-weight: 700;
    display: block;
    margin: auto;
    margin-bottom: 13px;
}
.img-cajaDeProducto .imagen{
    width: 100%;
}


@media (min-width: 300px) {
/*     .main-bar{
        display: none;
    } */
    .father-buscador{
        margin: auto;
        padding-top: 1rem;
    }
}

@media (min-width: 899px) {  
    .header-main{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
       
    }
    .header-main .top-header-main{
        width: 31vw;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: auto;
    }
    .buscador{
        width: 28vw;
    }
    .cajaDeProductoSuperior{
        text-align: center;
        padding-top: 8px;
    }
    .card{
        width: 600px;
        height: 450px;
        display: flex;
        margin: 100px auto;
    }
    .father-buscador{
        margin: auto;
        padding-top: 0rem;
    }
    .card_first-section{
        width: 300px;
    }
    .card_second-section{
        width: 300px;
    }
    .cajaDeProducto{
        width: 25vw;
    }
}