/* Colores
#010101
#F1C732
#68ABB4
white
wheat

Tipografías:
Meatloaf
AngryBirds
Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    color: inherit;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




/* HEADER */
.logo {
    display: none;
}
div.bottom-header-bar {
    background-color: #010101;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-header-bar i {
    color: white;
    font-size: 14px;
    display: inline;
}
.icon,
.icon-bars {
    padding: 3px;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 5px;
}

h1 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: Meatloaf;
    display: inline;
}
nav.login-bar ul{
    display: flex;
    direction: row;
    flex-wrap: nowrap;
    margin-top: 3px;
    margin-right: 5px;
}
.login-bar ul li p {
    display: none;
}
a {
    text-decoration: none;
}



.header-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.header-main .top-header-main{
    width: 45vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    color: white;
    font-size: 1.5em;
}

.filtro{
    text-align: end;
}

.buscador{
    width: 95vw;
}

.main-product{
   /*  background-color: #fffdf8; */
    background-image: url(/img/fotoCarrito1.jpg);
}

.estanteDeProductos{
    background-color: white;
    border: 1px solid brown;
    border-radius: 2rem;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.cajaDeProducto{
    border: 3px solid #68ABB4;
    margin: 1rem;
    border-radius: 12px;
    overflow: hidden;
}

.cajaDeProductoInferior{
    padding-left: 1rem;
}

.cajaDeProductoInferior .tipo{
    margin: 8px 0px 8px 0px;
    color: grey;
}


.cajaDeProductoInferior .titulo{
    margin: 0px 0px 8px 0px;
    font-size: 1.5em;
}

.cajaDeProductoInferior .precio p{
    font-size: 2em;
    color: green;
    margin: 0 0px 8px 0px;
}

.cajaDeProductoInferior .boton {
    width: 20rem;
    height: 2.5rem;
    background-color: #F1C732;
    color: white;
    border-radius: 15px;
       border: 3px solid #68ABB4;
    font-size: 1.1em;
    font-weight: 700;
    display: block;
    margin: auto;
    margin-bottom: 13px;
}

.img-cajaDeProducto .imagen{
    width: 100%;
}


/* FOOTER */
footer {
    background-color: #010101;
    color: white;
}
.footer-logo img{
    display: none;
}
.footer-logo h1 {
    margin: 5px 10px;
    font-size: 24px;
}
.footer-navbar {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
}
footer li i,
footer li a,
footer li a p,
footer h2,
.copyright p {
    color: white;
    font-size: 10px;
}
footer li i{
    font-size: 14px;
}
.footer ul {
    mask-type: none;
}
.footer-socialmedia ul li a p,
.footer-contacto ul li a p {
    display: inline;
    margin: 0px 3px;
}
.copyright {
    width: 100%;
    padding-bottom: 5px;
}
.copyright p {
    text-align: center;
}
.footer-secciones li,
.footer-socialmedia li,
.footer-contacto li {
    text-indent: 5px;
}

@media (min-width: 300px) {

    .main-bar{
        display: none;
    }
    
    .father-buscador{
        margin: auto;
        padding-top: 1rem;
    }

}

@media (min-width: 899px) {

  
    /* HEADER */
    .logo {
        display: block;
        background-color: #010101;
        margin-top: -20px;
        margin-bottom: -30px;
    }
    .logo img {
        width: 100px;
        padding-left: 5px;
    }
    .bottom-header-bar div.icon-bars,
    .fa-bars {
        display: none;
    }
    .main-bar {
        color: white;
        display: inline;
    }
    .main-bar ul {
        display: flex;
        margin: 0px 10px;
    }
    .main-bar ul li,
    .login-bar ul li {
        padding: 5px 10px;
    }
    .main-bar ul li p,
    .main-bar ul li i {
        font-size: 16px;
        display: inline;
    }
    .main-bar ul li i {
        padding: 0px 3px;
    }
    header h1 {
        display: none;
    }
    .login-bar {
        padding-right: 10px;
    }
    .login-bar ul li p {
        display: inline;
    }
    .login-bar ul li a div {
        display: inline;
    }
    .login-bar p {
        font-size: 16px;
        padding-right: 5px;
    }
    .login-bar i {
        font-size: 16px
    }
    .bottom-header-bar {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 5px;
    }
    .main-bar {
        text-align: left;
    }
    .main-bar li:hover,
    .login-bar li:hover {
        background-color: white;
        color: #010101;
        border-radius: 2px;
    }
    .main-bar li:hover i,
    .login-bar li:hover i{
        background-color: white;
        color: #010101;
    }
    /* MAIN */

    .header-main{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
       
    }

    .header-main .top-header-main{
        width: 31vw;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: auto;
    }

    .buscador{
        width: 28vw;
    }

    .cajaDeProductoSuperior{
        text-align: center;
        padding-top: 8px;
    }
    

    .card{
        width: 600px;
        height: 450px;
        display: flex;
        margin: 100px auto;
    }


    .father-buscador{
        margin: auto;
        padding-top: 0rem;
    }


    .card_first-section{
        width: 300px;
    }

    .card_second-section{
        width: 300px;
    }

    .cajaDeProducto{
        width: 25vw;
    }

}