.background-img {
    position: fixed;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.header-main .top-header-main {
    width: 45vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    color: #010101;
    font-size: 1.5em;
}

.filtro {
    text-align: end;
}

.buscador {
    width: 95vw;
}

.main-product {
    background-color: rgba(255, 255, 255, 0.8);
}

.estanteDeProductos {
    border-radius: 2rem;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.cajaDeProducto {
    background-color: white;
    border: 3px solid #68ABB4;
    margin: 1rem;
    border-radius: 12px;
    overflow: hidden;
}

.cajaDeProductoInferior {
    padding-left: 1rem;
}

.cajaDeProductoInferior .tipo {
    margin: 8px 0px 8px 0px;
    color: grey;
}

.cajaDeProductoInferior .titulo {
    margin: 0px 0px 8px 0px;
    font-size: 1.5em;
    color: #d27518
}

.cajaDeProductoInferior .precio p {
    font-size: 2em;
    color: #010101;
    margin: 0 0px 8px 0px;
}

.cajaDeProductoInferior .boton {
    width: 20rem;
    height: 2.5rem;
    background-color: #F1C732;
    color: white;
    border-radius: 15px;
    border: 3px solid #68ABB4;
    font-size: 1.1em;
    font-weight: 700;
    display: block;
    margin: auto;
    margin-bottom: 13px;
}

.img-cajaDeProducto .imagen {
    width: 100%;
}

.cajaDeProductoSuperior img {
    width: 276px;
    height: 183px;
    object-fit: cover;
}

.buscador-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    margin-left: 7%;
}

.buscador-input {
    width: 300px;
    padding: 0.5rem;
    border: 1px solid #68ABB4;
    border-radius: 5px;
    font-size: 1em;
}

.buscador-btn {
    padding: 0.5rem 1rem;
    background-color: #F1C732;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-left: 0.5rem;
}

@media (min-width: 899px) {
    .buscador-input {
        width: 200px;
    }

    .background-img {
        position: fixed;
        z-index: -1;
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    .estanteDeProductos {
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .header-main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }

    .header-main .top-header-main {
        width: 31vw;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: auto;
    }

    .buscador {
        width: 28vw;
    }

    .cajaDeProductoSuperior {
        text-align: center;
    }

    .card {
        width: 600px;
        height: 450px;
        display: flex;
        margin: 100px auto;
    }

    .father-buscador {
        margin: auto;
        padding-top: 0rem;
    }

    .card_first-section {
        width: 300px;
    }

    .card_second-section {
        width: 300px;
    }

    .cajaDeProducto {
        width: 20vw;
        max-width: 275px;
    }

    .cajaDeProductoInferior .boton {
        width: 15vw;
        height: 2.5rem;
        background-color: #F1C732;
        color: white;
        border-radius: 15px;
        border: 3px solid #68ABB4;
        font-size: 1.1em;
        font-weight: 700;
        display: block;
        margin: auto;
        margin-bottom: 13px;
    }
}
