/* MAIN */
body {
    background-color: whitesmoke;
}
.login-img {
    display: none;
}
.form-login {
    background-color: white;
    margin: 15px auto;
    padding: 30px;
    border: 3px solid #68ABB4;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}
.login-input label,
.login-input input {
    font-size: 14px;
    line-height: 1.5em;
}
.login-input input {
    width: 100%;
    border: 3px solid #68ABB4;
    border-radius: 5px;
    background-color: #68abb418;
    padding: 2px;
}
.login-input, .login-checkbox {
    margin-bottom: 2px;
}
.login-checkbox {
    display: flex;
    margin: 0 auto;
    justify-content: left;
}
.login-checkbox input,
.login-checkbox p {
    display: inline;
    margin: 0 2px;
    font-size: 14px;
}
.login-comment {
    margin-bottom: 20px;
    text-align: center;
}
.login-comment a {
    color: #68ABB4;
    text-decoration: underline;
}
.login-logo img{
    width: 100%;
    margin: -10px 0;
    cursor: pointer;
}
.formLoginButton {
    background-color: #F1C732;
    margin: 20px auto;
    text-align: center;
    display: block;
    font-size: 14px;
    padding: 5px;
    border-radius: 15px;
    border: 3px solid #68ABB4;
}
.phrase {
    display: none;
}
.feedback {
    color: darkred;
    background-color: rgb(255, 215, 215);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid darkred;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.feedback div{
    margin: 0px 5px 0px 0px;
    height: 2em;
    border-right: 1px solid darkred;
    padding-right: 5px;
    align-self: center;
    display: flex;
    align-items: center;
}
.feedback div i{
    font-size: 1.25em;
}


.main-profile{
    text-align: center;
    margin-top: 4rem;
}

.first-section{
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    /* position: relative; */
    margin: 1rem;
    border: 2px solid #68ABB4;
}

.first-section .fotoPerfil{
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.nav-perfil{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
}

.nav-perfil button{
    background-color: white;
    margin: 20px;
    text-align: center;
    display: block;
    font-size: 14px;
    padding: 5px;
    border-radius: 15px;
    border: 3px solid #68ABB4;
    width: 80%;
}

.second-section h2{
    font-size: 1.5rem;
    margin-bottom: 2px;
}




@media (min-width: 899px) {
    /* MAIN */
    .phrase-form {
        width: 100%;
        position: absolute;
        top: 0%;
        display: flex;
        justify-content: space-around;
    }
    .phrase {
        display: inline;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px auto;
        padding: 30px;
    }
    .phrase img {
        width: 30%;
        max-width: 120px;
        margin: 0 auto -30px;
        display: block;
    }
    .line1 {
        font-family: Meatloaf, 'Rampart One';
        font-size: 40px;
        color: white;
        text-align: center;
        margin: 30px auto;
        width: 90%;
        max-width: 395px;
    }
    .login-img {
        display: block;
        width: 100%;
        margin: 0;
        background-color: #010101;
    }
    .login-img img {
        width: 100%;
        opacity: 0.5;
        margin: 0;
    }
    .main-login {
        position: relative;
        background-color: rgb(186, 160, 111);
    }
    .formLoginButton:hover {
        box-shadow: 0 0 5px #010101;
    }

    
.main-profile{
    text-align: center;
    margin: 9rem;
}

.nav-perfil{

    flex-direction: row;
    justify-content: center;
    margin: 4rem;

}

.nav-perfil button{

    width: 18%;
}

}