/* MAIN */
.body-login {
    background-color: wheat;
}
.login-img {
    display: none;
}
.form-login {
    background-color: white;
    margin: 15px auto;
    padding: 30px;
    border: 3px solid #68ABB4;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}
.login-input label,
.login-input input {
    font-size: 14px;
    line-height: 1.5em;
}
.login-input input {
    width: 100%;
    border: 3px solid #68ABB4;
    border-radius: 5px;
    background-color: #68abb418;
    padding: 2px;
}
.login-input, .login-checkbox {
    margin-bottom: 2px;
}
.login-checkbox {
    display: flex;
    margin: 0 auto;
    justify-content: left;
}
.login-checkbox input,
.login-checkbox p {
    display: inline;
    margin: 0 2px;
    font-size: 14px;
}
.login-comment {
    margin-bottom: 20px;
    text-align: center;
}
.login-comment a {
    color: #68ABB4;
    text-decoration: underline;
}
.login-logo img{
    width: 100%;
    margin: -10px 0;
    cursor: pointer;
}
.formLoginButton {
    background-color: #F1C732;
    margin: 20px auto;
    text-align: center;
    display: block;
    font-size: 14px;
    padding: 5px;
    border-radius: 15px;
    border: 3px solid #68ABB4;
}
.phrase {
    display: none;
}
@media (min-width: 899px) {
    /* MAIN */
    .phrase-form {
        width: 100%;
        position: absolute;
        top: 0%;
        display: flex;
        justify-content: space-around;
    }
    .phrase {
        display: inline;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px auto;
        padding: 30px;
    }
    .phrase img {
        width: 30%;
        max-width: 120px;
        margin: 0 auto -30px;
        display: block;
    }
    .line1 {
        font-family: Meatloaf, 'Rampart One';
        font-size: 40px;
        color: white;
        text-align: center;
        margin: 30px auto;
        width: 90%;
        max-width: 395px;
    }
    .login-img {
        display: block;
        width: 100%;
        margin: 0;
        background-color: #010101;
    }
    .login-img img {
        width: 100%;
        opacity: 0.5;
        margin: 0;
    }
    .main-login {
        position: relative;
        background-color: rgb(186, 160, 111);
    }
    .formLoginButton:hover {
        box-shadow: 0 0 5px #010101;
    }
}