body {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/10/09/bakery-1868925_1280.jpg);
}

/*MAIN*/

/* .mainProduct{
    background-color: white;
} */
.card{
    border: 1px solid black;
    width: 344px;
    height: 612px;
    border-radius: 12px;
    overflow: hidden;
    margin: 69px auto;
    background-color: white;
    border: 3px solid #68ABB4;
}
.card .card_first-section img{
width: 100%;
}
.card .card_second-section .productType{
    margin: 18px 24px 8px 20px;
    color: grey;
}
.card .card_second-section .titulo{
    margin: 0px 24px 16px 24px;
    font-size: 2.2em;
}
.card .card_second-section .description{
    margin: 0px 24px 44px 24px;
    color: grey;
    font-size: 0.95em;
    line-height: 22px;
}
.card .card_second-section .precio p{
    font-size: 2.3em;
    color: green;
    margin: 0 24px 16px 24px;   
}
.card .card_second-section .card_button{
 width: 296px;
 height: 50px;
 background-color: #F1C732;
 color: white;
 border-radius: 15px;
    border: 3px solid #68ABB4;
 font-size: 1.1em;
 font-weight: 700;
 display: block;
 margin: auto;
}
.card .card_second-section .card_button:hover{
cursor: pointer;
background-color: blue;
}

/* FOOTER */

@media (min-width: 300px) {

/*     .main-bar{
        display: none;
    } */
    

}

@media (min-width: 899px) {
    .card{
        width: 600px;
        height: 450px;
        display: flex;
        margin: 100px auto;
    }
    .card .card_first-section img{
        content: url(/img/baguette-1.jpg);
    }
    .card_first-section{
        width: 300px;
    }
    .card_second-section{
        width: 300px;
    }    
}