<%- include('partials/head.ejs', {cssSheet: "styles-contact"}) %>

<body class="body-contact">

<%- include('partials/header.ejs') %>

    <div class="formulario">
      <form class="login" action="">
          <div class="login-input">
              <label for="user">Nombre:</label><br>
              <input type="text">
              <span class="feedback"></span>
          </div>
          <div class="login-input">
              <label for="email">Correo electrónico:</label><br>
              <input type="email">
              <span class="feedback"></span>
          </div>
          <div class="login-input">
            <label for="mensaje">Mensaje:</label><br>
            <textarea id="mensaje" name="mensaje"></textarea>
            <span class="feedback"></span>
        </div>
          <a href="/"><button type="button" class="formLoginButton">Ingresar</button></a>
          <div class="login-logo">
              <img src="../img/Logo-recortado.png" alt="">
          </div>
      </form>
  </div>


<%- include('partials/footer.ejs') %>

</body>
</html>