<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello! Cakes & Bakery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles-home.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/img/Logo.png" alt="logo">
        </div>
        <div class="bottom-header-bar">
            <div class="icon-bars">
                <i class="fa-solid fa-bars"></i>
            </div>
            <nav class="main-bar">
                <ul type="none">
                    <li><a href="#"><i class="fa-solid fa-house-chimney"></i><p>HOME</p></a></li>
                    <li><a href="/productDetail"><p>PRODUCTOS</p></a></li>
                    <li><a href="#"><p>ABOUT-US</p></a></li>
                    <li><a href="#"><p>CONTACTO</p></a></li>
                </ul>
            </nav>
            <h1>HELLO!</h1>
            <nav class="login-bar">
                <ul type="none">
                    <li><a href="/login"><div class="icon"><i class="fa-solid fa-right-to-bracket"></i></div><p>Login</p></a></li>
                    <li><a href="/productcart"><div class="icon"><i class="fa-solid fa-cart-shopping"></i></div><p>Carrito</p></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="start-img">
            <div class="img-logo-shop">
                <img class="main-img" src="/img/iStock-995038782-small.jpg" alt="">
                <img class="main-logo" src="/img/Logo.png" alt="">
                <div><a class="link-shop" href="#">SHOP</a></div>
            </div>
        </section>
        <section class="star-products">
            <h2>NUESTROS PREFERIDOS</h2>
            <p>¿Todavía no los probaste?</p>
            <div class="all-star-products">
                <article class="product-main">
                    <img src="/img/Pan-de-molde-casero-cuadrado.jpg" alt="">
                    <div class="product-bottom-box">
                        <h3 class="product-name">PAN DE MOLDE</h3>
                        <p class="product-description">500g</p>
                    </div>
                    <a class="go-to-buy" href="">ver más</a>
                </article>
                <article class="product-main">
                    <img src="/img/Pan-de-molde-casero-cuadrado.jpg" alt="">
                    <div class="product-bottom-box">
                        <h3 class="product-name">PAN DE CENTENO</h3>
                        <p class="product-description">500g</p>
                    </div>
                    <a class="go-to-buy" href="">ver más</a>
                </article>
                <article class="product-main">
                    <img src="/img/Pan-de-molde-casero-cuadrado.jpg" alt="">
                    <div class="product-bottom-box">
                        <h3 class="product-name">PAN CON SEMILLAS</h3>
                        <p class="product-description">500g</p>
                    </div>
                    <a class="go-to-buy" href="">ver más</a>
                </article>
            </div>
        </section>
        <section class="main-video">
            <div class="video">
                <img src="https://cdn.pixabay.com/photo/2019/03/17/15/08/bread-4061143_1280.jpg">
            </div>
            <div class="video-side-text">
                <h2 class="title-video">NUESTRO PROCESO</h2>
                <p class="video-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </section>
        <section class="main-img-bar">
            <div class="img-ig-container">
                <img src="https://cdn.pixabay.com/photo/2016/03/27/21/59/bread-1284438_1280.jpg" alt="">
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="img-ig-container">
                <img src="https://cdn.pixabay.com/photo/2017/05/15/01/18/baked-2313462_1280.jpg" alt="">
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="img-ig-container">
                <img src="https://cdn.pixabay.com/photo/2017/06/23/23/57/bread-2436370_1280.jpg" alt="">
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="img-ig-container">
                <img src="https://cdn.pixabay.com/photo/2019/03/10/16/22/bread-4046506_1280.jpg" alt="">
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="img-ig-container">
                <img src="https://cdn.pixabay.com/photo/2021/06/14/07/36/product-6335145_1280.jpg" alt="">
                <i class="fa-brands fa-instagram"></i>
            </div>
        </section>
    </main>
    <footer>
        <section class="footer-logo">
            <img src="/img/Logo.png" alt="HELLO!">
            <h1>HELLO!</h1>
        </section>
        <section class="footer-navbar">
            <div class="footer-secciones">
                <ul type="none">
                    <h2>SECCIONES</h2>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">PRODUCTOS</a></li>
                    <li><a href="#">ABOUT-US</a></li>
                    <li><a href="#">CONTACTO</a></li>
                </ul>
            </div>
            <div class="footer-socialmedia">
                <h2>SEGUINOS EN</h2>
                <ul type="none">
                    <li><a href="#"><i class="fa-brands fa-instagram"></i><p>Usuario IG</p></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i><p>Usuario fb</p></a></li>
                    <li><a href="#"><i class="fa-brands fa-tiktok"></i><p>Usuario tiktok</p></a></li>
                </ul>
            </div>
            <div class="footer-contacto">
                <h2>CONTACTO</h2>
                <ul type="none">
                    <li><a href="#"><i class="fa-brands fa-whatsapp"></i><p>+54 11 5555 4444</p></a></li>
                    <li><a href="#"><i class="fa-regular fa-envelope"></i><p>contacto_hello@gmail.com</p></a></li>
                    <li><a href="#"><i class="fa-solid fa-location-dot"></i><p>Calle False 123</p><br><p>1400 CABA</p></a></li>
                </ul>
            </div>
        </section>
        <section class="copyright">
            <p>Todos los derechos reservados</p>
        </section>
    </footer>
</body>
</html>