<%- include('partials/head.ejs', {cssSheet: "styles-nosotros"}) %>

<body>

<%- include('partials/header.ejs') %>

<a href="/"><p class="volver">Volver</p></a>
     
    <div class="encabezado">
        <h2>NOSOTROS</h2>
        <hr>

    </div>
    <div class="cajaExt">
        <div class="cajaInt">
            <img src="/img/avatarDante.jpg" alt="">
            <p>Dante</p>
        </div>
        <div class="cajaInt">
            <img src="/img/avatarRomi.jpg" alt="">
            <p>Romina</p>
        </div>
        <div class="cajaInt">
            <img src="/img/avatarNelson.jpg" alt="">
            <p>Nelson</p>
        </div>
        <div class="cajaInt">
            <img src="/img/avatarJuan.jpg" alt="">
            <p>Juan</p>
        </div>
        <div class="cajaInt">
            <img src="/img/avatarSabri.jpg" alt="">
             <p>Sabrina</p>
         </div>
        <div class="cajaInt">
            <img src="/img/avatarJose.jpg" alt="">
            <p>Jose</p>
        </div>
        
       
    </div>

    <%- include('partials/footer.ejs') %>

</body>
</html>