<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello! Cakes & Bakery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles-register.css">
</head>
<body class="body-login">
    <header>
        <div class="logo">
            <img src="/img/Logo.png" alt="logo">
        </div>
        <div class="bottom-header-bar">
            <div class="icon-bars">
                <i class="fa-solid fa-bars"></i>
            </div>
            <nav class="main-bar">
                <ul type="none">
                    <li><a href="/"><i class="fa-solid fa-house-chimney"></i><p>HOME</p></a></li>
                    <li><a href="#"><p>PRODUCTOS</p></a></li>
                    <li><a href="#"><p>ABOUT-US</p></a></li>
                    <li><a href="#"><p>CONTACTO</p></a></li>
                </ul>
            </nav>
            <h1>HELLO!</h1>
            <nav class="login-bar">
                <ul type="none">
                    <li><a href="/login"><div class="icon"><i class="fa-solid fa-right-to-bracket"></i></div><p>Login</p></a></li>
                    <li><a href="#"><div class="icon"><i class="fa-solid fa-cart-shopping"></i></div><p>Carrito</p></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main-register">
        <div class="login-img">
            <img src="https://cdn.pixabay.com/photo/2016/11/29/10/09/bakery-1868925_1280.jpg" alt="">
        </div>

        <div class="container-formulario">

            <form action="/" method="POST" class="register-input">
                
                    <div class="register-input">
                        <input type="text" placeholder="Nombre" required minlength="3">
                    </div>

                    <br>

                    <div class="register-input">
                        <input type="text" placeholder="Apellido" required minlength="3">
                    </div>

                    <br>
                    
                    <div class="register-input">
                        <input type="text" placeholder="Nombre de usuario" required>
                    </div>

                    <br>

                    <div class="nacimiento">
                        <label for="fecha-nacimiento"><h2>Fecha de nacimiento</h2></label>
                        <input type="date" id="fecha-nacimiento" required>
                    </div>

                    <br>
                    
                    <div class="register-input">
                        <input type="text" placeholder="Domicilio" required>
                    </div>
                        
                    <br>

                    <div class="foto-usuario">
                        <label for="foto-usuario"><h2>Foto de perfil</h2></label>
                        <input type="file" name="foto-usuario" id="foto-usuario" required accept=".jpg, .png">
                    </div>
   
                    <br>

                    <div class="register-input">
                        <input type="password" placeholder="Contraseña" required>
                    </div>

                    <br>

                    <div class="register-input">
                        <input type="password" placeholder="Confirmar contraseña" required>
                    </div>

                    <br>

                    <div class="register-checkbox">
                        <label for="acepto-tyc"></label>
                        <input type="checkbox"><p>Acepto Términos y Condiciones</p>
                    
                        

                    <div class="botones">
                        <div class="register-input, register-button">
                            <button type="submit" id="botones">Registrarse</button>
                        </div>
        
                        <div class="register-input, register-button">
                            <button type="reset" id="botones"> Borrar todo</button>
                        </div>
                    </div>

                    <div class="login-logo">
                        <img src="/img/Logo-recortado.png" alt="">
                    </div>

            </form>
        </div>

    </main>
    <footer>
        <section class="footer-logo">
            <img src="/img/Logo.png" alt="HELLO!">
            <h1>HELLO!</h1>
        </section>
        <section class="footer-navbar">
            <div class="footer-secciones">
                <ul type="none">
                    <h2>SECCIONES</h2>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">PRODUCTOS</a></li>
                    <li><a href="#">ABOUT-US</a></li>
                    <li><a href="#">CONTACTO</a></li>
                </ul>
            </div>
            <div class="footer-socialmedia">
                <h2>SEGUINOS EN</h2>
                <ul type="none">
                    <li><a href="#"><i class="fa-brands fa-instagram"></i><p>Usuario IG</p></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i><p>Usuario fb</p></a></li>
                    <li><a href="#"><i class="fa-brands fa-tiktok"></i><p>Usuario tiktok</p></a></li>
                </ul>
            </div>
            <div class="footer-contacto">
                <h2>CONTACTO</h2>
                <ul type="none">
                    <li><a href="#"><i class="fa-brands fa-whatsapp"></i><p>+54 11 5555 4444</p></a></li>
                    <li><a href="#"><i class="fa-regular fa-envelope"></i><p>contacto_hello@gmail.com</p></a></li>
                    <li><a href="#"><i class="fa-solid fa-location-dot"></i><p>Calle False 123</p><br><p>1400 CABA</p></a></li>
                </ul>
            </div>
        </section>
        <section class="copyright">
            <p>Todos los derechos reservados</p>
        </section>
    </footer>
</body>
</html>