<header>
    <div class="bottom-header-bar">
        <div class="icon-bars">
            <i class="fa-solid fa-bars"></i>
        </div>
        <nav class="main-bar">
            <ul type="none">
                <li><a href="/"><i class="fa-solid fa-house-chimney"></i>
                        <p>HOME</p>
                    </a></li>
                <li><a href="/products">
                        <p>PRODUCTOS</p>
                    </a></li>
                <li><a href="#">
                        <p>ABOUT-US</p>
                    </a></li>
                <li><a href="/contact">
                        <p>CONTACTO</p>
                    </a></li>

                 <li><a href="/products/productCreate">
                        <p>VENDER</p>
                    </a></li>
            </ul>
        </nav>
        <h1>HELLO!</h1>
        <nav class="login-bar">
            <ul type="none">
                <% if (locals.isLogged) { %>
                    <li>
                        <a href="/users/productCart">
                            <div class="icon"><i class="fa-solid fa-cart-shopping"></i></div>
                            <p>Carrito</p>
                        </a>
                    </li>
                    <li>
                        <a href="/users/profile">
                            <p>Mi perfil</p>
                        </a>
                    </li>
                    <li>
                        <a href="/users/logout">
                            <p>Logout</p>
                        </a>
                    </li>
                <% } else { %>
                    <li>
                        <a href="/users/login">
                            <div class="icon"><i class="fa-solid fa-right-to-bracket"></i></div>
                            <p>Login</p>
                        </a>
                    </li>
                    <li>
                        <a href="/users/register">
                        <p>Registrarse</p>
                        </a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>
