<%- include('../partials/head.ejs', {cssSheet: "styles-productCart"}) %>

<body class="body-productCart">

<%- include('../partials/header.ejs') %>

<main class="main-cart">
    <section>
        <h2 class="title-cart">CARRITO DE COMPRAS</h2>
        <img class="img-fondo" src="../img/fotoCarrito1.jpg" alt="">
    </section>
    <ul type="none" class="cuadro">
        <li class="main-product1">
            <div class="contenedor-product">
                <img class="img-product" src="../img/selva-negra.jpg" alt="">
                <div class="sub-main-productCart">
                    <h3 class="name-product">Torta selva negra</h3>
                    <p class="descr-product">Compuesta por varias capas de bizcochuelo de chocolate empapado en kirsch e intercaladas con nata y cerezas.</p>
                </div>
            </div>
            <div class="contenedor-carrito">
                <form id='myform1' class='quantity' action='#'>
                    <input type='button' value='-' class='qtyminus minus' field='quantity' />
                    <input type='text' name='quantity' value='0' class='qty' />
                    <input type='button' value='+' class='qtyplus plus' field='quantity' />
                </form>
                <i class="fa-solid fa-trash-can"></i>
                <p class="precio">$3000</p>
            </div>
        </li>
        <li class="main-product2">
            <div class="contenedor-product">
                <img class="img-product" src="../img/pan-de-molde-casero-cuadrado.jpg">
                <div class="sub-main-productCart">
                    <p class="name-product">Pan de molde</p>
                    <p class="descr-product">Su masa se enriquece con mantequilla o leche y se hornea dentro de un molde o lata.</p>
                </div>
            </div>
            <div class="contenedor-carrito">
                <form id='myform2' class='quantity' action='#'>
                    <input type='button' value='-' class='qtyminus minus' field='quantity' />
                    <input type='text' name='quantity' value='0' class='qty' />
                    <input type='button' value='+' class='qtyplus plus' field='quantity' />
                </form>
                <i class="fa-solid fa-trash-can"></i>
                <p class="precio">$1000</p>
            </div>
        </li>
        <li class="main-product3">
            <img class="img-logo2" src="../img/Logo-recortado.png">
            <div class="main-precio">
                <h3 class="total">TOTAL</h3>
                <h2 class="precio-total">$0</h2>
            </div>
            <div class="main-botones">
                <a class="button-cart1" href="/"><button type="button" class="button">Seguir comprando</button></a>
                <a class="button-cart2" href="/"><button type="button" class="button">Pagar</button></a>
            </div>
        </li>
    </ul>
</main>

<script>
    // Obtener los elementos del DOM
    var minusButtons = document.querySelectorAll('.qtyminus');
    var plusButtons = document.querySelectorAll('.qtyplus');
    var quantityInputs = document.querySelectorAll('.qty');
    var precioTotalElement = document.querySelector('.precio-total');

    // Función para actualizar el precio total
    function actualizarPrecioTotal() {
        var precios = document.querySelectorAll('.precio');
        var total = 0;
        for (var i = 0; i < precios.length; i++) {
            var cantidad = parseInt(quantityInputs[i].value);
            var precio = parseInt(precios[i].textContent.replace('$', ''));
            total += cantidad * precio;
        }
        precioTotalElement.textContent = '$' + total;
    }

    // Agregar el evento de clic a los botones de resta y suma
    minusButtons.forEach(function(minusButton, index) {
        minusButton.addEventListener('click', function() {
            var currentValue = parseInt(quantityInputs[index].value);
            if (currentValue > 0) {
                quantityInputs[index].value = currentValue - 1;
                actualizarPrecioTotal();
            }
        });
    });

    plusButtons.forEach(function(plusButton, index) {
        plusButton.addEventListener('click', function() {
            var currentValue = parseInt(quantityInputs[index].value);
            quantityInputs[index].value = currentValue + 1;
            actualizarPrecioTotal();
        });
    });
</script>



<%- include('../partials/footer.ejs') %>
</body>
</html>
