*{
    background-color: whitesmoke;
}

.body .titulo   {
    text-align: center;
    color: teal;
}
.row{
   
    display: flex;
    justify-content: space-evenly;
   
}

.caja{
    border: 1px solid teal;
    display: flex;
    width: 22rem;
    justify-content: space-around;
}

.addProduct{
    border: 1px solid teal;
    width: 22rem;
    box-sizing: border-box;
   
}