*{
    background-color: whitesmoke;
}

.body .titulo   {
    text-align: center;
    color: teal;
}
.row{
   
    display: flex;
    justify-content: space-evenly;
   
}

.caja{
    border: 1px solid teal;
    display: flex;
    width: 22rem;
    justify-content: space-around;
}

.addProduct{

    box-sizing: border-box;
    margin: auto;
    width: 80vw;
    margin-top: 3rem;
   
}

.addProduct h2{
    margin: auto;
}

.addProduct .subtituloUltimoProducto{
    color: black;
}

.cajaUltimoProducto{
    display: flex;
    padding: 1rem;
}

.cajaImagen img{
    width: 100%;

}

.cajaImagen{
    padding-right: 2rem;
}

.cajaPrincipal{
    width: 80vw;
    margin: auto;
}