*{
    background-color: whitesmoke;
}

.body .titulo   {
    text-align: center;
    color: rgb(224, 149, 124);
}
.row{
   
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    margin: auto;
   
}

.caja{
    display: flex;
    width: 22rem;
    justify-content: space-around;
    align-items: center;
}

.addProduct{

    box-sizing: border-box;
    margin: auto;
    width: 80vw;
    margin-top: 3rem;
   
}

.addProduct h2{
    margin: auto;
}

.addProduct .subtituloUltimoProducto{
    color: rgb(224, 149, 124);
}

.cajaUltimoProducto{
    display: flex;
    padding: 1rem;
}

.cajaImagen img{
    width: 100%;

}

.cajaImagen{
    padding-right: 2rem;
}

.cajaPrincipal{
    width: 80vw;
    margin: auto;
}

.tabla {
   border-collapse: collapse;
   width: 100%;

}

.tabla thead tr{
    text-align: left;
    
}

.tablaTr td{
    padding: 10px;
   color: black;
    font-weight: 600;
}

.tabla tbody td{
    padding: 10px;
}

.subtituloListProduct{
    color: rgb(224, 149, 124);
}

.cajaContadores{
    display: flex;
    width: 80vw;
    margin: auto;
    justify-content: space-around;
}

.cajaContador{
    display: flex;
    width: 15rem;
    align-items: center;
    text-align: center;
}

.cajaContador p{
    width: 30%;
}
